.navbar {
    background-color: #1397ff;
    padding: 0 20px 0 20px;
}

.navbar a {
    color: #fff !important;
}

body {
    background-color: #e4e4e4;
    font-size: 1.5em !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-collapse.collapse {
    display: inline!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: dodgerblue;
    background-color: dodgerblue;
    border-radius: 10px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
    padding-right: 50px;
}


.navbar-fixed-top {
    border-color: #e4e4e4;
}

.status-user-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

#searchContainer {
    width: 31%;
    height: auto;
    position: relative;
    background-color: white;
}

#info {
    list-style: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: white !important;
    border-radius: 5px;
    opacity: 0.85;
    padding-left: 20px;
}

.navbar-fixed-top .active a {
    background: blue;
}
.text-wrap {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

#search {
    margin-top: 0.9%;
}

.cursor-pointer {
    cursor: pointer;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.fs28 {
    font-size: 50px;
}

.foll-data {
    font-size: 24px;
    color: gray;
    cursor: pointer;
    padding-right: 5%;
}

.foll-data:hover {
    color: darkgray;
}

.blue {
    color: #1397ff;
}

.blue:hover {
    color: cyan;
}

.mgr20 {
    margin-right: 20px;
}