.navbar {
    background-color: #1397ff;
    padding: 0 20px 0 20px;
}

.navbar a {
    color: #fff !important;
}

body {
    background-color: #e4e4e4;
    /*padding-top: 70px;*/
    font-size: 1.5em !important;
    overflow: auto;
}

.navbar-default {
    border-color: #e4e4e4;
}

.status-user-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

#searchContainer {
    width: 31%;
    height: auto;
    position: relative;
    background-color: white;
}

#info {
    list-style: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: white !important;
    border-radius: 5px;
    opacity: 0.85;
    padding-left: 20px;
}

#search {
    margin-top: 0.9%;
}

.cursor-pointer {
    cursor: pointer;
}

.fr {
    float: right;
}

.fl {
    float: left;
}